* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100vh;
  padding: 4rem;
}

.artist-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
